.initialLoader {
    color: #000000;
    text-align: center;
    padding: 48px 16px;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}